In [0]:
import pandas as pd

In [0]:
data=pd.read_csv("/content/Indian Liver Patient Dataset (ILPD).csv")

In [5]:
data.info

<bound method DataFrame.info of      age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]>

In [6]:
data.head

<bound method NDFrame.head of      age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]>

In [7]:
data.tail

<bound method NDFrame.tail of      age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]>

In [8]:
data.describe()

              age  tot_bilirubin  ...     alkphos  is_patient
count  583.000000     583.000000  ...  579.000000  583.000000
mean    44.746141       3.298799  ...    0.947064    1.286449
std     16.189833       6.209522  ...    0.319592    0.452490
min      4.000000       0.400000  ...    0.300000    1.000000
25%     33.000000       0.800000  ...    0.700000    1.000000
50%     45.000000       1.000000  ...    0.930000    1.000000
75%     58.000000       2.600000  ...    1.100000    2.000000
max     90.000000      75.000000  ...    2.800000    2.000000

[8 rows x 10 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
lb=LabelEncoder()

In [0]:
data['Gender']=lb.fit_transform(data['gender'])

In [13]:
data.info

<bound method DataFrame.info of      age  gender  tot_bilirubin  ...  alkphos  is_patient  Gender
0     65  Female            0.7  ...     0.90           1       0
1     62    Male           10.9  ...     0.74           1       1
2     62    Male            7.3  ...     0.89           1       1
3     58    Male            1.0  ...     1.00           1       1
4     72    Male            3.9  ...     0.40           1       1
..   ...     ...            ...  ...      ...         ...     ...
578   60    Male            0.5  ...     0.37           2       1
579   40    Male            0.6  ...     1.10           1       1
580   52    Male            0.8  ...     1.00           1       1
581   31    Male            1.3  ...     1.00           1       1
582   38    Male            1.0  ...     1.50           2       1

[583 rows x 12 columns]>

In [14]:
data.dtypes

age                   int64
gender               object
tot_bilirubin       float64
direct_bilirubin    float64
tot_proteins          int64
albumin               int64
ag_ratio              int64
sgpt                float64
sgot                float64
alkphos             float64
is_patient            int64
Gender                int64
dtype: object